body {
    background-image: url(../imagens/nuvens.jpg);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 50px;
    width: 90%;
}

.websiteNov {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    background-color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    border-radius: 50px;
    margin: 0 auto;
}

.bemVindo {
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgb(27, 75, 163);
    padding: 5px;
    width: 100%;
    text-align: right;
}

.texto {
    margin: 0 auto;
    font-weight: bolder;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.406);
}

.verm {
    color: red;
}

.amare {
    color: rgb(255, 242, 0);
}

.verd {
    color: green;
}

.azul {
    color: blue;
}

.gifUm {
    float: none;
    align-self: center;
    width: 35%;
    margin: 20px;
}

.textoDois {
    text-align: center;
    background-image: url(../imagens/milky-way-2695569_1280.jpg);
    color: white;
    padding: 15px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hide {
    color: rgba(0, 136, 255, 0);
    text-decoration: none;
}

.hide:hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 0, 0);
    font-weight: 1000;
    font-size: 45px;
    text-shadow: 3px 3px 3px white;
}