* {
    margin: 0;
    padding: 0;
}

.limitador {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centro {
    text-align: center;
}

.cadastro {
}